{% extends "usr_notif.html" %}

{% block content %}

<h2>Olá!</h2>

<p>Atualize a senha do usuário:</p>
<p>
  <b>Username:</b> {{username}}<br>
  <b>Email:</b> {{email}}<br>
</p>

<hr>

<div class="button-container">
  <a href="{{reset_password_url}}" target="_blank" class="btn btn-primary">ATUALIZAR SENHA</a>
</div>

<p>Ou copie esse link no seu navegador para acessar a solicitação de acesso:</p>
<p>
  <a href="{{reset_password_url}}" target="_blank">
    {{reset_password_url}}
  </a>
</p>

{% endblock %}